.Auth {
  margin: 20px auto;
  width: 80%;
  text-align: center;
  box-shadow: 0 2px 3px #ccc;
  border: 1px solid #eee;
  padding: 10px;
  box-sizing: border-box;
}

.errorMessage {
  text-transform: capitalize;
  border-radius: 5px;
  padding: 10px 0px;
  background-color: #f8aaaa;
  color: #000;
}

.uppercase {
  text-transform: uppercase;
}

@media (min-width: 600px) {
  .Auth {
    width: 500px;
  }
}
